@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

.navbar{
  
background-color: #34495e;
      
}


.jumbotron {
background-image: url(https://i.embed.ly/1/display/resize?key=1e6a1a1efdb011df84894040444cdc60&url=http%3A%2F%2Fwww.morningadvertiser.co.uk%2Fvar%2Fplain_site%2Fstorage%2Fimages%2Fpublications%2Fhospitality%2Fmorningadvertiser.co.uk%2Fpub-food%2Fgood-food-guide-editor-calls-for-more-veggie-options-on-pub-menus%2F8422626-1-eng-GB%2FGood-Food-Guide-editor-calls-for-more-veggie-options-on-pub-menus.jpg&width=810);
background-size: cover;
height: 100%;}

.navbar-text{
  color: #FFFFFF;
}